[Unit]
Description=Airflow scheduler daemon

[Service]
Environment=
EnvironmentFile=/etc/sysconfig/webserver.env
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/home/ubuntu/.local/bin/airflow worker
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
